{{!< default}}
			<div class='row'>
				<div class='col-xs-12'>
					<h1>Bildernachweis</h1>
				</div>
				<div class='col-xs-12 col-md-12'>
					<ul style="list-style-type: none;">
						<li>Bamberg: &copy; Flickr, Allie_Caulfied</li>
						<li>Berlin Alexanderpatz: &copy; Flickr, NervousEnergy</li>
						<li>Berlin Friedrichstrasse: &copy; Flickr, xurde</li>
						<li>Berlin Lichtenberg: &copy; flickr, quapan</li>
						<li>Berlin Ostbahnhof: &copy; flickr, rs-foto</li>
						<li>Berlin Südkreuz: &copy; flickr, IngolfBLN</li>
						<li>Berlin Zoo: &copy; flickr, Metro Centric</li>
						<li>Bielefeld Hbf: &copy; flickr, Evgeny Borisov</li>
						<li>Bremen: &copy; flickr, J-Cornelius</li>
						<li>Cottbus: &copy; flickr, IngolfBLN</li>
						<li>Darmstadt Hbf: &copy; flickr, hugh llewelyn</li>
						<li>Dortmund Hbf: &copy; flickr,qdos</li>
						<li>Dresden Hbf: &copy; flickr, FunkBrothers</li>
						<li>Dresden Neustadt: &copy; flickr, sethschoen</li>
						<li>Duisburg Hbf: &copy; flickr, coolagad</li>
						<li>Erfurt Hbf: &copy; flickr,larssteffens.de</li>
						<li>Essen Hbf: &copy; flickr,Casey Hugelfink</li>
						<li>Freankfurst am Main Flgh Fern: &copy; flickr, warrenski</li>
						<li>Hackescher Markt: &copy; Flickr,IngolfBLN</li>
						<li>Halle Saale: &copy; flickr,onnola</li>
						<li>Hamburg Dammtor: &copy; flickr, s.bär</li>
						<li>Hannover Hbf: &copy; flickr,interbeat</li>
						<li>Heidelberg Hbf: &copy; flickr, hugh llewelyn</li>
						<li>Karlsruhe Hbf: &copy; flickr, hugh llewelyn</li>
						<li>Kassel Hbf: &copy; flickr, Ladycliff</li>
						<li>Kiel Hbf: &copy; flickr, J-Cornelius</li>
						<li>Koblenz Hbf: &copy; flickr, larssteffens.de</li>
						<li>Köln Hbf: &copy; flickr, myahya</li>
						<li>Leipzig: &copy; flickr, achimh</li>
						<li>Magdeburg Hbf: &copy; flickr, sludgegulper </li>
						<li>Mainz Hbf: &copy; flickr, myahya</li>
						<li>Mannheim Hbf: &copy; flickr, Loz Flowers</li>
						<li>München Hbf: &copy; flickr, dustpuppy</li>
						<li>München Ost: &copy; flickr, blu-news.org</li>
						<li>Rostock Hbf: &copy; flickr, sludgegulper</li>
						<li>Saarbrücken Hbf: &copy; flickr, J-Cornelius</li>
						<li>Stuttgart Hbf: &copy; flickr, dustpuppy</li>
						<li>Weimar bahnhof: &copy; flickr, stiefkind</li>
						<li>Wiesbaden Hbf: &copy; flickr, marfis75</li>
						<li>Würzburg Hbf: &copy; flickr, Matthew Black</li>
					</ul>
				</div>
			</div>