<div class="page">
    <div class='page__row'>
        <div class='page__title'>
            <h1>Impressum</h1>
        </div>
        <div class='page__section'>
            <p>Hinweise gem. ยง 5 des Telemediengesetzes (TMG) in der Fassung vom 26.02.2007. Diese Seiten werden Dir
                bereitgestellt von:</p>
            <br>
            <p>
               <img src="images/imprint.png" width="250">
            </p>
        </div>
    </div>
</div>