<footer class="footer">
    <div class="container-fluid">
        <div class="footer__inner">
        <nav class="footer__navbar">
            <a href="/impressum">Impressum</a>
            <a href="/bildernachweis">Bildernachweis</a>
        </nav>
        <div class="footer__notes">
            alle Angaben ohne Gewähr
        </div>
        <div class="footer__brand">
            <div class="footer__logo"></div>
            © fahrplan.guru
        </div>
        </div>
    </div>
</footer>