<script type="text/javascript">
var r=Math.round(Math.random()*1e8);var s=document.createElement("script");
var t="//des.smartclip.net/ads?type=dyn&plc=87257&elementId=mdad&sz=400x320&rnd="+r;
s.type="text/javascript";s.src=t;document.body.appendChild(s);
</script>
<div id="mdad" style="height:100px;width:400px;margin-left:auto;margin-right:auto"></div>
