<div class="search-tabwrapper text-left">
  <input id="search-tab1" class="search-tab" type="radio" name="search-tabs" checked>
  <label for="search-tab1" class="search-tab-label">Reise</label>

  <input id="search-tab2" class="search-tab" type="radio" name="search-tabs">
  <label for="search-tab2" class="search-tab-label">Haltestelle</label>
  {{>search-journey states=param}}
  {{>search}}
</div>
