<div class="section__item">
    <div class="section__icon">
        <i class="icon icon--{{icon}}">
        </i>
    </div>
    <div class="section__desc">
        <div class="section__desc-title">{{title}}</div>
        <div class="section__desc-text">{{text}}
        </div>
    </div>
</div>