<div class="container-fluid container--city">
    <div class="city city--with-banner">

        <div class="city__banner city__horizontal-banner banner banner--horizontal">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Fahrplan.guru/Stadt -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-4239530438243153"
                 data-ad-slot="2553293422"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="city__vertical-banner banner banner--vertical">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Fahrplan.guru/Stadt_vertical banner -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:160px;height:600px"
                 data-ad-client="ca-pub-4239530438243153"
                 data-ad-slot="4030026623"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>

        <div class="city__data">
            <div class="search city__search">
                {{>search}}
            </div>

            <div class="section">
                {{>breadcrumbs}}
                <h1 class="city__title section__title">{{heading}}</h1>
                <ul class="list list--city city__list">
                    {{#each data.stopsleft}}
                        {{>list-item}}
                    {{/each}}
                    {{>mdad}}
                    {{#each data.stopsright}}
                        {{>list-item}}
                    {{/each}}
                </ul>
                {{#needsPagination data.stops.totalPages}}{{>pagination}}{{/needsPagination}}
            </div>
        </div>
        <div class="city__map map-overlay">
            <nav class="map-overlay__navbar">
                <div class="map-overlay__title">Karte</div>
                <a href="#" class="map-overlay__close">+</a>
            </nav>

            <iframe width="100%" height="450" frameborder="0"
                    src="/mapTown/{{name}}"></iframe>
        </div>
        <div class="city__show-map-wrapper">
            <button class="city__show-map">
                Karte <i class="fa fa-map-o" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>