.footer {
  background: #2b2d2e;
  clear: both;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  &__brand {
    color: rgba(255, 255, 255, 0.3);
  }
  &__logo {
    background: url('../images/logo_fahrplanguru-weiss.png') no-repeat;
    background-size: cover;
    display: block;
    height: 59px;
    margin: auto;
    margin-bottom: 15px;
    opacity: 0.3;
    width: 49px;
  }
  &__notes {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  &__navbar {
    a {
      color: white;
      display: inline-block;
      font-size: 1.2rem;
      padding: 15px;
    }
  }
  @include breakpoint(phablet) {
    &__inner {
      align-items: center;
      flex-direction: row;
      height: 120px;
      justify-content: space-between;
    }
    &__navbar {
      order: 2;
    }
    &__notes {
      margin-bottom: 0;
      order: 1;
    }
    &__brand {
      margin: auto;
      max-width: 120px;
      left: 0;
      right: 0;
      position: absolute;
    }
  }
}


