.search-tabwrapper {
  form {
    display: none;
  }

  input.search-tab {
    display: none;

    &:checked + label {
      color: #000;
    }
  }

  label.search-tab-label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 25px;
    text-align: center;
    color: #bbb;
    border: 1px solid #ddd;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.2rem;

    &:hover {
      color: #888;
      cursor: pointer;
    }
  }

  #search-tab1:checked ~ #new_timetable_user_input_journey,
  #search-tab2:checked ~ #new_timetable_user_input {
    display: block;
  }
}

.search {
  &__item {
    &--journey--dep,
    &--journey--arr {

      select{
        font-weight: 600;
        color: #484848;
        outline: medium none;
      }
      position: relative;
      input {
        padding-left: 50px;
      }
      &:before {
        @include linea;
        content: "Q";
        position: absolute;
        left: 15px;
        line-height: $input-height-xs;;
        font-size: 24px;
        color: $color-grey;
        z-index: 999;
      }
    }
    &--journey--date, &--journey--time {
      @include make-xs-column(6);
      padding: 0;
    }
    &--journey--date {
      padding-right: 5px;
    }
    &--journey--time {
      padding-left: 5px;
      -webkit-appearance: none;
    }
    &--passopt--btn,
    &--trans--mode {
      background: white;
      border: 1px solid $color-lightgrey;
      height: $input-height-xs;
      display: flex;
      align-items: center;
      margin-bottom: 0;

      .padding--left--right--0--trans--mode {
        padding-left: 0;
        padding-right: 0;
      }
      .trans--mode--area {
        .trans--mode--checkbox {
          width: 20px;
          height: 20px;
          background-color: white;
          border: 1px solid $color-grey;
          cursor: pointer;
          display: inline-block;
          margin: 0 5px;
        }
        .trans--mode--icon--2 {
          background-repeat: no-repeat;
          padding-left: 7px;
          background-position: 5px -2px;
          background-size: auto 35px;
          background-image: url("../../images/icons/bus.svg");
          width: 33px;
          height: 24px;
          display: inline-block;
        }
        .trans--mode--icon--1 {
          background-repeat: no-repeat;
          padding-left: 7px;
          background-position: 5px -2px;
          background-size: auto 35px;
          background-image: url("../../images/icons/train.svg");
          width: 33px;
          height: 24px;
          display: inline-block;
        }
        .trans--mode--text {
          font-size: 17px;
          vertical-align: bottom;
        }
      }
    }
    &--passopt--btn {
      font-size: 1.1rem;
      margin-bottom: 0;
      cursor: pointer;
      .passopt--btn--person--count {
        margin-bottom: 12px;
      }
      .passopt--btn--icon {
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        background-image: url("../../images/icons/user.svg");
        width: 33px;
        height: 24px;
        display: inline-block;
      }
    }
    &--passopt--btn:hover {
      background-color: $color-lightestgrey;
    }
    &--passopt--btn .passopt--change--btn {
      padding: 5px 10px;
      text-transform: uppercase;
      color: $color-grey;
      border: 1px solid $color-lightgrey;
      border-radius: 5px;
    }
    &--passenger--options {
      background-color: $color-lightergrey-less;
      padding: 10px 15px;
      .passenger_option {
        .error-alert {

        }
        .search--passenger {
          margin-bottom: 5px;
          .age--col {
            .inputcontainer {
              position: relative;

              &:before {
                content: "";
                position: absolute;
                left: 5px;
                top: 28px;
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: center center;
                background-image: url("../../images/icons/passenger.svg");
              }
              label {
                text-transform: uppercase;
                margin-top: 0;
                font-size: 12px;
                line-height: 1.2;
              }
              input {
                padding-left: 30px;
                display: block;
                min-height: 32px;
                line-height: 32px;
                border-radius: 3px;
                -webkit-appearance: none !important;
                outline: none;
                border: 1px solid #C1BFBF;
                background: white;
                font-size: 12px;
                cursor: pointer;
              }
            }
            .age-input--group {

            }
          }
          .bahncard-area{
            padding-left: 15px;
            padding-right: 8px;
            .bahncard--group {
              margin-bottom: 0;
              position: relative;
              &:before {
                content: "";
                position: absolute;
                left: 5px;
                top: 28px;
                width: 23px;
                height: 23px;
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: center center;
                background-image: url("../../images/icons/passenger_card.svg");
              }
              label {
                text-transform: uppercase;
                margin-top: 0;
                font-size: 12px;
                line-height: 1.2;
              }
              .passenger--select {
                display: block;
                padding-left: 30px;
                min-height: 36px;
                background-position: right center;
                background-size: auto 80%;
                width: 100%;
                padding-right: 40px;
                background-repeat: no-repeat;
                background-image:url("../../images/icons/passenger_cards_caret_down.svg");
                border-radius: 3px;
                -webkit-appearance: none !important;
                outline: none;
                border: 1px solid #C1BFBF;
                font-size:12px;
                cursor: pointer;
              }
              .passenger--discount--card--select {

              }
            }
          }
        }
      }
      .passenger--add--btn{
        clear: both;
        width: 100%;
        text-align: center;
        padding-top: 15px;
        color: white;
        button{
          color: #FFFFFF;
          background-color: #92adba;
        }
      }
      .passenger_remove_btn_container {
        padding: 0;
        margin-top: 31px;
        float: left;
        width: 1px;
        .passenger_remove_btn {
          height: 20px;
          width: 20px;
          border: none;
          border-radius: 100px;
          background-repeat: no-repeat;
          background-image: url("../../images/icons/passenger_remove.svg");
          background-size: 18px;
          background-position: center center;
          opacity: 0.8;
        }
      }
    }
  }

  @include breakpoint(phablet) {
    &__item {
      .label {
        display: block;
      }
      &--journey--dep,
      &--journey--arr {
        @include make-sm-column(6);
        margin-bottom: 0;
        padding: 0;
        .search__input {
          border-bottom: 0;
        }
        &:before {
          left: 15px;
        }
      }
      &--journey--dep .search__input {
        border-top-left-radius: 3px;
        border-right: 0;
      }
      &--journey--arr .search__input {
        border-top-right-radius: 3px;
      }
      &--journey--date, &--journey--time, &--journey--submit {
        @include make-sm-column(4);
        border-right: 0;
        margin-bottom: 0;
        padding: 0;
      }
      &--journey--date, &--journey--time {
        .search__input {
          border-right: 0;
          border-bottom: 0;
        }
      }
      &--journey--submit .search__button {
        border-right: inherit;
        line-height: $input-height-xs;
        border-radius: 0;
        padding: 0;
      }
      &--passopt--btn,
      &--trans--mode {
        @include make-xs-column(6);
      }
      &--passopt--btn {
        border-right: 0;
      }
      &--passenger--options {
        .passenger_option {
          div {
            padding: 0;
          }
          @include make-xs-column(6);
        }
      }
    }
  }

  @include breakpoint(tablet) {
    width: 50%;
    &__item {
      .label {
        display: block;
      }
    }
    &__input {
      padding-left: 50px;
    }
  }
  @include breakpoint(mobile-max) {
    .search--trans--mode{
      padding:10px 0 0 0;
    }
    #passoptBtn{
      padding:0 10px;
    }
    .bahncard-area{
      .inputcontainer{
        padding:0;
      }
    }
    .search--passenger{
      .age--col{
        .inputcontainer{
          padding:0;
        }
      }
    }
    .passenger--options--divider{
      border-bottom: 1px solid #dce0e0;
      display: block;
      height: 1px;
      margin-top: 15px;
    }
    .select2-container--default .select2-selection--single{
      border-bottom:1px solid $color-lightgrey;
      border-right: 1px solid $color-lightgrey;;
    }
  }
}
.passopt--btn--toggle--class{
  background-color:$color-lightergrey-less!important;
}
//dep and arr selects style
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
  width:100%;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) > .dropdown-toggle{
  height: 50px;
  padding-left: 50px;
  background-color: white;
  border: 1px solid $color-lightgrey;
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  outline: none;
  .bs-caret{
    display: none;
  }
}
.bootstrap-select.btn-group .dropdown-menu{
  border: 1px solid $color-lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
  .bs-searchbox{
    input{
      padding-left:10px;
      border-radius: 1px;

      &:focus{
        border-color: #f8aa00;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(232, 154, 2, 0.66);
      }
    }
  }
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
  font-weight: 600;
}